aiohttp==3.9.5
fiona==1.9.6
gdal==3.8.5
geopandas==1.0.1
folium==0.17.0
matplotlib==3.9.1
networkx==3.3
numpy==2.0.0
osmium==3.7.0
pandas==2.2.2
polars==1.1.0
pyarrow==16.1.0
pyproj==3.6.1
shapely==2.0.5
tqdm==4.66.4
