aiohttp==3.9.5
fiona==1.9.6
gdal==3.7.3
geopandas==0.14.3
matplotlib==3.8.4
networkx==3.2.1
numpy==1.26.4
osmium==3.7.0
pandas==2.2.1
polars==0.20.16
pyarrow==15.0.2
pyproj==3.6.1
shapely==2.0.3
tqdm==4.66.2
